- if Gitlab::CurrentSettings.email_author_in_body
  %div
    #{link_to @updated_by.name, user_url(@updated_by)} added you as an approver for:
%p.details
  != merge_path_description(@merge_request, '&rarr;')

- if @merge_request.assignee_id.present?
  %p
    Assignee: #{@merge_request.author_name} &rarr; #{@merge_request.assignee_name}

= render_if_exists 'notify/merge_request_approvers', presenter: @mr_presenter

- if @merge_request.description
  = markdown(@merge_request.description, pipeline: :email, author: @merge_request.author)
