%li{ id: dom_id(issue), class: issue_css_classes(issue), url: issue_path(issue), data: { labels: issue.label_ids, id: issue.id } }
  .issue-box
    - if @can_bulk_update
      .issue-check.hidden
        = check_box_tag dom_id(issue, "selected"), nil, false, 'data-id' => issue.id, class: "selected-issuable"
    .issuable-info-container
      .issuable-main-info
        .issue-title.title
          %span.issue-title-text
            - if issue.confidential?
              %span.has-tooltip{ title: _('Confidential') }
                = confidential_icon(issue)
            = link_to issue.title, issue_path(issue)
          - if issue.tasks?
            %span.task-status.d-none.d-sm-inline-block
              &nbsp;
              = issue.task_status

        .issuable-info
          %span.issuable-reference
            #{issuable_reference(issue)}
          %span.issuable-authored.d-none.d-sm-inline-block
            &middot;
            opened #{time_ago_with_tooltip(issue.created_at, placement: 'bottom')}
            by #{link_to_member(@project, issue.author, avatar: false)}
          - if issue.milestone
            %span.issuable-milestone.d-none.d-sm-inline-block
              &nbsp;
              = link_to project_issues_path(issue.project, milestone_title: issue.milestone.title), data: { html: 'true', toggle: 'tooltip', title: milestone_tooltip_due_date(issue.milestone) } do
                = icon('clock-o')
                = issue.milestone.title
          - if issue.due_date
            %span.issuable-due-date.d-none.d-sm-inline-block.has-tooltip{ class: "#{'cred' if issue.overdue?}", title: _('Due date') }
              &nbsp;
              = icon('calendar')
              = issue.due_date.to_s(:medium)
          - if issue.labels.any?
            &nbsp;
            - issue.labels.each do |label|
              = link_to_label(label, subject: issue.project, css_class: 'label-link')

          - if issue.weight
            %span.issuable-weight.d-none.d-sm-inline-block.has-tooltip{ data: { container: 'body' }, title: _('Weight') }
              &nbsp;
              = icon('balance-scale')
              = issue.weight

      .issuable-meta
        %ul.controls
          - if issue.closed?
            %li.issuable-status
              CLOSED
          - if issue.assignees.any?
            %li
              = render 'shared/issuable/assignees', project: @project, issue: issue

          = render 'shared/issuable_meta_data', issuable: issue

        .float-right.issuable-updated-at.d-none.d-sm-inline-block
          %span updated #{time_ago_with_tooltip(issue.updated_at, placement: 'bottom', html_class: 'issue_update_ago')}
