.layout-page{ class: page_with_sidebar_class }
  - if defined?(nav) && nav
    = render "layouts/nav/sidebar/#{nav}"
  .content-wrapper{ class: "#{@content_wrapper_class}" }
    = render 'shared/outdated_browser'
    .mobile-overlay
    .alert-wrapper
      = render "layouts/header/ee_license_banner"
      = render "layouts/broadcast"
      = render 'layouts/header/read_only_banner'
      = render "layouts/nav/ee/classification_level_banner"
      = yield :flash_message
      = render "shared/ping_consent"
      - unless @hide_breadcrumbs
        = render "layouts/nav/breadcrumbs"
      = render "layouts/flash"
      .d-flex
    %div{ class: "#{(container_class unless @no_container)} #{@content_class}" }
      .content{ id: "content-body" }
        = yield
